In [1]:
import pandas as pd
import csv

In [2]:
import MySQLdb

In [3]:
con = MySQLdb.connect(host="localhost", user="root", passwd="", db="prefeitura_sbac")

In [4]:
cursor = con.cursor()

In [5]:
Dados = pd.read_excel("QUADRO_FUNCIONARIOS_05_08_2019.xlsx")
Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7030 entries, 0 to 7029
Data columns (total 7 columns):
Matrícula    7030 non-null int64
CPF          7030 non-null object
Nome         7030 non-null object
Cargo        7030 non-null object
Unidade      7030 non-null object
Local        7030 non-null object
Horas/mês    7030 non-null object
dtypes: int64(1), object(6)
memory usage: 384.5+ KB

In [6]:
qtd_registros = len(Dados)
qtd_registros

7030

### DROP TABELA

In [7]:
drop_table = 'DROP TABLE balneario_camboriu'
cursor.execute(drop_table)

0

### Criando Tabela

In [8]:
create_table = """CREATE TABLE IF NOT EXISTS balneario_camboriu (id int not null auto_increment PRIMARY KEY, nome varchar(255), cargo varchar(255), matricula varchar(30), CPF varchar(40) default 'Nao informado', horas_mes varchar(40) DEFAULT 'Nao informado', modifield datetime DEFAULT CURRENT_TIMESTAMP, cidade varchar(200) default 'Balneario Camboriú', tabela varchar(255) DEFAULT 'balneario_camboriu')DEFAULT CHARSET = utf8;"""
cursor.execute(create_table)

0

### SQL INSERT DADOS

In [9]:
query = """INSERT INTO balneario_camboriu (nome, cargo, matricula, horas_mes, CPF) VALUES (%s, %s, %s, %s, %s)"""

In [10]:
cont = 0;
for r in range(0, qtd_registros):
    
    # Assign values from each row
    values = (Dados['Nome'][cont], Dados['Cargo'][cont], Dados['Matrícula'][cont], Dados['Horas/mês'][cont], Dados['CPF'][cont])

    # Execute sql Query
    cursor.execute(query, values)
    cont = cont + 1

In [11]:
# Close the cursor
cursor.close()

In [12]:
# Commit the transaction
con.commit()

In [13]:
# Close the database connection
con.close()