In [21]:
import pandas as pd
import csv

In [22]:
import MySQLdb

In [23]:
con = MySQLdb.connect(host="localhost", user="root", passwd="", db="prefeitura_sbac")

In [24]:
cursor = con.cursor()

In [25]:
Dados = pd.read_excel("Consulta de Quadro Funcional ITAJAI.xlsx")
Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7001 entries, 0 to 7000
Data columns (total 7 columns):
Matrícula    7001 non-null int64
CPF          7001 non-null object
Nome         7001 non-null object
Cargo        7001 non-null object
Unidade      7001 non-null object
Local        7001 non-null object
Horas/mês    7001 non-null object
dtypes: int64(1), object(6)
memory usage: 382.9+ KB

In [26]:
qtd_registros = len(Dados)
qtd_registros

7001

### DROP TABELA

In [27]:
drop_table = 'DROP TABLE itajai'
cursor.execute(drop_table)

0

### Criando Tabela

In [28]:
create_table = """CREATE TABLE IF NOT EXISTS itajai (id int not null auto_increment PRIMARY KEY, nome varchar(255), cargo varchar(255), matricula varchar(30), CPF varchar(40) default 'Nao informado', horas_mes varchar(40) DEFAULT 'Nao informado', modifield datetime DEFAULT CURRENT_TIMESTAMP, cidade varchar(200) default 'Itajaí', tabela varchar(255) default 'itajai')DEFAULT CHARSET = utf8;"""
cursor.execute(create_table)

0

### SQL INSERT DADOS

In [29]:
query = """INSERT INTO itajai (nome, cargo, matricula, horas_mes, CPF) VALUES (%s, %s, %s, %s, %s)"""

In [30]:
cont = 0;
for r in range(0, qtd_registros):
    
    # Assign values from each row
    values = (Dados['Nome'][cont], Dados['Cargo'][cont], Dados['Matrícula'][cont], Dados['Horas/mês'][cont], Dados['CPF'][cont])

    # Execute sql Query
    cursor.execute(query, values)
    cont = cont + 1

In [31]:
# Close the cursor
cursor.close()

In [32]:
# Commit the transaction
con.commit()

In [33]:
# Close the database connection
con.close()