In [1]:
import pandas as pd
import csv

In [2]:
import MySQLdb

In [3]:
con = MySQLdb.connect(host="localhost", user="root", passwd="", db="prefeitura_sbac")

In [4]:
cursor = con.cursor()

In [5]:
Dados = pd.read_excel("Consulta de Quadro Funcional PORTO BELO.xlsx")
Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 19 columns):
Nome Funcionário         1085 non-null object
Unnamed: 1               0 non-null float64
Unnamed: 2               0 non-null float64
Cargo                    1085 non-null object
Regime                   1085 non-null object
Mensal - Bruto           1085 non-null float64
Mensal - Líquido         1085 non-null float64
Férias - Bruto           1085 non-null float64
Férias - Líquido         1085 non-null float64
13º Salário - Bruto      1085 non-null float64
13º Salário - Líquido    1085 non-null float64
Total - Bruto            1085 non-null float64
Unnamed: 12              0 non-null float64
Unnamed: 13              0 non-null float64
Total - Líquido          1085 non-null float64
Unnamed: 15              0 non-null float64
Unnamed: 16              0 non-null float64
Unnamed: 17              0 non-null float64
Unnamed: 18              0 non-null float64
dtypes: float64(16), object(3)
memory usage: 161.1+ KB

In [6]:
qtd_registros = len(Dados)
qtd_registros

1085

### DROP TABELA

In [7]:
drop_table = 'DROP TABLE porto_belo'
cursor.execute(drop_table)

0

### Criando Tabela

In [8]:
create_table = """CREATE TABLE IF NOT EXISTS porto_belo (id int not null auto_increment PRIMARY KEY, nome varchar(255), cargo varchar(255), matricula varchar(30) DEFAULT 'Não Informado', CPF varchar(40) default 'Nao informado', horas_mes varchar(40) DEFAULT 'Nao informado', modifield datetime DEFAULT CURRENT_TIMESTAMP, cidade varchar(200) default 'Porto Belo', tabela varchar(255) DEFAULT 'porto_belo')DEFAULT CHARSET = utf8;"""
cursor.execute(create_table)

0

### SQL INSERT DADOS

In [9]:
query = """INSERT INTO porto_belo (nome, cargo) VALUES (%s, %s)"""

In [10]:
cont = 0;
for r in range(0, qtd_registros):
    
    # Assign values from each row
    values = (Dados['Nome Funcionário'][cont], Dados['Cargo'][cont])

    # Execute sql Query
    cursor.execute(query, values)
    cont = cont + 1

In [11]:
# Close the cursor
cursor.close()

In [12]:
# Commit the transaction
con.commit()

In [13]:
# Close the database connection
con.close()