In [6]:
import pandas as pd
import csv

In [7]:
import MySQLdb

In [8]:
con = MySQLdb.connect(host="localhost", user="root", passwd="", db="prefeitura_sbac")

In [9]:
cursor = con.cursor()

In [10]:
Dados = pd.read_excel("Consulta de Quadro Funcional BALNEARIO PIÇARRAS.xlsx")
Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 12 columns):
Matrícula - Funcionário    1039 non-null object
Nome Funcionário           1034 non-null object
Unnamed: 2                 0 non-null float64
Unnamed: 3                 1 non-null object
Cargo                      1034 non-null object
Centro Custo               1034 non-null object
Unnamed: 6                 1 non-null object
Unnamed: 7                 0 non-null float64
Salário Bruto              1036 non-null object
Unnamed: 9                 1 non-null float64
Unnamed: 10                0 non-null float64
Unnamed: 11                0 non-null float64
dtypes: float64(5), object(7)
memory usage: 97.5+ KB

In [26]:
qtd_registros = len(Dados)
qtd_registros

1085

### DROP TABELA

In [27]:
drop_table = 'DROP TABLE porto_belo'
cursor.execute(drop_table)

0

### Criando Tabela

In [28]:
create_table = """CREATE TABLE IF NOT EXISTS porto_belo (id int not null auto_increment PRIMARY KEY, nome varchar(255), cargo varchar(255), matricula varchar(30) DEFAULT 'Não Informado', CPF varchar(40) default 'Nao informado', horas_mes varchar(40) DEFAULT 'Nao informado', modifield datetime DEFAULT CURRENT_TIMESTAMP, cidade varchar(200) default 'Porto Belo')DEFAULT CHARSET = utf8;"""
cursor.execute(create_table)

0

### SQL INSERT DADOS

In [29]:
query = """INSERT INTO porto_belo (nome, cargo, matricula) VALUES (%s, %s, %s)"""

In [30]:
cont = 0;
for r in range(0, qtd_registros):
    
    # Assign values from each row
    values = (Dados['Nome Funcionário'][cont], Dados['Cargo'][cont], Dados['Matrícula - Funcionário'][cont])

    # Execute sql Query
    cursor.execute(query, values)
    cont = cont + 1

In [31]:
# Close the cursor
cursor.close()

In [32]:
# Commit the transaction
con.commit()

In [33]:
# Close the database connection
con.close()