In [1]:
import pandas as pd
import csv

In [2]:
import MySQLdb

In [3]:
con = MySQLdb.connect(host="localhost", user="root", passwd="", db="prefeitura_sbac")

In [4]:
cursor = con.cursor()

In [5]:
Dados = pd.read_excel("Consulta de Quadro Funcional BALNEARIO PIÇARRAS.xlsx")
Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 12 columns):
Matrícula - Funcionário    1034 non-null int64
Nome Funcionário           1034 non-null object
Unnamed: 2                 0 non-null float64
Unnamed: 3                 0 non-null float64
Cargo                      1034 non-null object
Centro Custo               1034 non-null object
Unnamed: 6                 0 non-null float64
Unnamed: 7                 0 non-null float64
Salário Bruto              1034 non-null float64
Unnamed: 9                 0 non-null float64
Unnamed: 10                0 non-null float64
Unnamed: 11                0 non-null float64
dtypes: float64(8), int64(1), object(3)
memory usage: 97.0+ KB

In [6]:
qtd_registros = len(Dados)
qtd_registros

1034

### DROP TABELA

In [7]:
drop_table = 'DROP TABLE picarras'
cursor.execute(drop_table)

0

### Criando Tabela

In [8]:
create_table = """CREATE TABLE IF NOT EXISTS picarras (id int not null auto_increment PRIMARY KEY, nome varchar(255), cargo varchar(255), matricula varchar(30) DEFAULT 'Null', CPF varchar(40) default 'Null', horas_mes varchar(40) DEFAULT 'Null', modifield datetime DEFAULT CURRENT_TIMESTAMP, cidade varchar(200) default 'Balneário Piçarras', tabela varchar(255) DEFAULT 'picarras')DEFAULT CHARSET = utf8;"""
cursor.execute(create_table)

0

### SQL INSERT DADOS

In [9]:
query = """INSERT INTO picarras (nome, cargo, matricula) VALUES (%s, %s, %s)"""

In [10]:
cont = 0;
for r in range(0, qtd_registros):
    
    # Assign values from each row
    values = (Dados['Nome Funcionário'][cont], Dados['Cargo'][cont], Dados['Matrícula - Funcionário'][cont])

    # Execute sql Query
    cursor.execute(query, values)
    cont = cont + 1

In [11]:
# Close the cursor
cursor.close()

In [12]:
# Commit the transaction
con.commit()

In [13]:
# Close the database connection
con.close()