In [1]:
import pandas as pd
import csv

In [2]:
import MySQLdb

In [3]:
con = MySQLdb.connect(host="localhost", user="root", passwd="", db="prefeitura_sbac")

In [4]:
cursor = con.cursor()

In [5]:
Dados = pd.read_csv('quadroPessoal.csv', sep=';') 
Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2751 entries, 0 to 2750
Data columns (total 9 columns):
Descrição da vaga    2751 non-null object
Lei Decreto          2751 non-null object
Ato                  2202 non-null object
Matrícula            2751 non-null int64
Nome                 2751 non-null object
Unnamed: 5           0 non-null float64
Unnamed: 6           0 non-null float64
CPF                  2721 non-null object
Lotação              2751 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 193.5+ KB

In [6]:
qtd_registros = len(Dados)
qtd_registros

2751

In [ ]:
create_table = """CREATE TABLE IF NOT EXISTS navegantes (id int not null auto_incremente PRIMARY KEY, nome varchar(255), cargo, matricula, horas_mes) VALUES (%s, %s, %s, %s)"""

In [24]:
query = """INSERT INTO balneario_camboriu (nome, cargo, matricula, horas_mes) VALUES (%s, %s, %s, %s)"""

In [25]:
cont = 0;
for r in range(1, qtd_registros):
    NomeFuncionário = Dados['Nome']
    Cargo = Dados['Cargo']
    Matrícula = Dados['Matrícula']
    Horas_mes = Dados['Horas/mês']
    
    # Assign values from each row
    values = (NomeFuncionário[cont], Cargo[cont], Matrícula[cont], Horas_mes[cont])

    # Execute sql Query
    cursor.execute(query, values)
    cont = cont + 1

In [26]:
# Close the cursor
cursor.close()

In [27]:
# Commit the transaction
con.commit()

In [28]:
# Close the database connection
con.close()